@import "tailwindcss";
@config "../tailwind.config.ts";

:root {
  color-scheme: dark;
}

body {
  background-color: #000000;
  color: #ffffff;
  overflow-x: hidden;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #000000;
}
::-webkit-scrollbar-thumb {
  background: #1a1a1f;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #7740d9;
}

/* Hide cursor on desktop since we have a custom one */
@media (min-width: 768px) {
  * {
    cursor: none !important;
  }
}